/* Stylesheet */
.iti__flag {
    background-image: url("../images/flags.png");
}

/* @media screen and (min-width:768px) {
    body{
        background-image: url(../images/lady.jpg);
        background-size: cover;
        }
} */

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("../images/flags@2x.png");
    }
}

.iti {
    width: 100%;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(-70deg, #fa7c30 1%, rgba(0, 0, 0, 0) 30%),
            url(../images/lady.jpg);
    background-size: cover;
    background-position: 20% 23%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.merienda {
    font-family: 'Merienda', cursive;
}

.kaushan {
    font-family: 'Kaushan Script', cursive;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.boogaloo {
    font-family: 'Boogaloo',
        cursive;
}

.roboto {
    font-family: 'Roboto Condensed',
        sans-serif;
}

.slabo {
    font-family: 'Slabo 27px',
        serif;
}

.bold {
    font-weight: bold;
}

.top-margin {
    margin-top: 40px;
}

.bottom-margin {
    margin-bottom: 40px;
}

.container {
    /* max-width: 90%; */
}

.text-center {
    text-align: center;
}


#form {
    position: relative;
    overflow: hidden;
    margin-top: 70px;
    border-radius: 15px;
    padding: 40px 20px 20px 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
      /* filter: blur(10px); */
}

#form:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .9);
    filter: blur(11px) saturate(200) opacity(0.9);
}

#logo {
    border-radius: 50%;
}